<app-jumbotron [Titolo]="' DOIT'" [SottoTitolo]="'La piattaforma leader  nella progettazione colalborativa'"> </app-jumbotron>
<div class="row" layout-align="center" style="margin-left: 190px;">
    
        
            <div class="col-xs-6 col-sm-3">
                <h2>Area Proponenti</h2>
                <p>Pubblica un progetto specificando i requisiti, attendi le richieste di partecipazione e seleziona i
                    progettisti in base alle loro competenze.</p>
                <button class="btn btn-info" type="submit" routerLink='/list-proponents'>Area Proponenti</button>
            
       
    </div>
    
       
            <div class="col-xs-6 col-sm-3">
                <h2>Invia richieste di partecipazione</h2>
                <p>Tieni aggiornate le tue competenze ed effettua richieste per partecipare ai progetti.</p>
                <button class="btn btn-info" type="submit" routerLink='/list-designers'>Area Progettisti</button>
            
        
    </div>
    
       
            <div class="col-xs-6 col-sm-3">
                <h2>Avanza proposte di assunzione</h2>
                <p>Pubblica progetti e invia proposte di assunzione ai progettisti in base alle loro competenze e allo
                    storico dei progetti che hanno completato.</p>
                <button class="btn btn-info" type="submit" routerLink='/list-entities'>Area Enti</button>
            
        
    </div>
    
       
            <div class="col-xs-6 col-sm-3">
                <h2>Management dei progetti</h2>
                <p>Ricevi richieste di partecipazione ai progetti, individua le competenze necessarie al loro svolgimento e
                    seleziona i progettisti più idonei tra quelli che hanno effettuato la richiesta di partecipazione.
                    Oppure invia personalmente le richieste in base alle tue conoscenze.</p>
                <button class="btn btn-info" type="submit" routerLink='/list-experts'>Area Esperti</button>
            </div>
        
    
</div>