div.mb-3{
    margin-top: 25px;
}

div.box{
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 15%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    padding: 5%;
}
label.error{
    color: rgb(208, 9, 9);
}