<app-jumbotron [Titolo]="''" [SottoTitolo]="''" [Show]="false"></app-jumbotron>
<div class="box">
    <div class="panel widget">
        <div class="panel-body">
            <h1 class="font-semibold text-center" style="font-size:52px">Registrazione effettuata con successo!</h1>
            <hr>
            <div class="form-group">
                <div class="col-md-12">
                    <h4 class="text-center mgbt-xs-20">Grazie per il supporto!</h4>
                    <p class="text-center">Sarai reindirizzato alla home!</p>
                </div>
            </div>
        </div>
    </div>
</div>