<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="home">DOIT</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/home">
                        <span class="oi oi-home" title="home" aria-hidden="true"></span>
                        Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/list-projects">
                        <span class="oi oi-box" title="projects" aria-hidden="true"></span>
                        Progetti
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/list-designers">
                        <span class="oi oi-task" title="designers" aria-hidden="true"></span>
                        Progettisti
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/list-proponents">
                        <span class="oi oi-person" title="proponents" aria-hidden="true"></span>
                        Proponenti
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/list-entities">
                        <span class="oi oi-people" title="entities" aria-hidden="true"></span>
                        Enti
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/list-experts">
                        <span class="oi oi-briefcase" title="experts" aria-hidden="true"></span>
                        Esperti
                    </a>
                </li>
                <li class="nav-item" *ngIf="authManager.isLogged()">
                    <a class="nav-link" routerLink="/profile">
                        <span class="oi oi-box" title="profile" aria-hidden="true"></span>
                        Il mio profilo
                    </a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <a *ngIf="authManager.isLogged()" class="notification" routerLink="/notification" >
                    <mat-icon [matBadge]="notifiche" matBadgeColor="grey" >notifications_active</mat-icon>
                </a>
                <a *ngIf="!authManager.isLogged()" class="text-primary btn btn-outline-light" type="submit"
                    href="login">Accedi</a>
                <a *ngIf="!authManager.isLogged()" class="text-primary btn btn-outline-light" type="submit"
                    href="signup">Registrati</a>
                <a *ngIf="authManager.isLogged()" class="btn btn-outline-light" type="submit"
                    href="logout">Logout</a>
            </form>
            <form class="d-flex">
            </form>
        </div>
    </div>
</nav>