<app-jumbotron [Titolo]="''" [SottoTitolo]="''" [Show]="false"></app-jumbotron>
<div class="box">
    <div class="panel widget">
        <div class="panel-body">
            <h1 class="font-semibold text-center" style="font-size:52px">Profilo Modificato con successo!</h1>
            <hr>
            <div class="form-group">
                <div class="col-md-12">
                    <p class="text-center">Sarai reindirizzato alla home!, dovrai effettuare di nuovo l'accesso</p>
                </div>
            </div>
        </div>
    </div>
</div>