<app-jumbotron [Titolo]="'Accesso'" [SottoTitolo]="''" [Show]="false"></app-jumbotron>
<div class="container">
    <div class="box">
        <form>
            <div class="mb-3">
                <label for="InputUsername" class="form-label">Username:</label>
                <input type="text" class="form-control" id="InputUsername" placeholder="Nome User" [(ngModel)]="username" name="username">
            </div>
            <div class="mb-3">
                <label for="InputPassword" class="form-label">Password:</label>
                <input type="password" class="form-control" id="InputPassword"  placeholder="Password" [(ngModel)]="password" name="password">
            </div>
            <div class="mb-3 account">
                <label>Non hai un account? Clicca <a href="signup">qui</a> per registrarti.</label>
                <br>
            </div>
          <div class="mb-3">
            <label class="error" *ngIf='!autenticato' >Nome utente o Password errato!</label>
          </div>
            <button type="submit" class="btn btn-info" (click)="accesso()">Accedi</button>
        </form>
    </div>
</div>
