<app-jumbotron [Titolo]="'Gestione progetto'" [SottoTitolo]="''" [Show]="false"></app-jumbotron>

<!--Modifica dei progettisti-->

<div class="container">
  <div class="row justify-content-between">
    <div class="col-md-3">
      <button class="btn btn-dark" type="submit" (click)=salva()>Salva</button>
    </div>
    <div class="col-md-3">
      Stato progetto: <b>{{progetto.statoProgetto.toString()}}</b>
    </div>
    <div class="col-md-3" *ngIf="progetto.statoProgetto.toString() == 'VALUTAZIONE'">
      <button class="btn btn-dark" type="submit" (click)=completaValutazione(progetto.id)>Completa valutazione progetto</button>
    </div>
    <div class="col-md-3" *ngIf="progetto.statoProgetto.toString() == 'APERTO' && loggato.ruolo == 'PROPONENTE'">
      <button class="btn btn-dark" type="submit" (click)=setProgettoChiuso(progetto.id)>Chiudi il progetto</button>
    </div>
    <div class="col-md-3" *ngIf="progetto.statoProgetto.toString() == 'CHIUSO' && loggato.ruolo == 'PROPONENTE'">
      <button class="btn btn-dark" type="submit" (click)=setProgettoCompletato(progetto.id)>Contrassegna come completato</button>
    </div>
  </div>
  <br><br>
  <div class="row justify-content-around">
    <div class="col-md-6">
      <div class="container">
        <h3>Lista Partecipanti</h3>
        <table class="table">
          <thead class="table-dark">
          <tr>
            <td>Nome</td>
            <td>Azione</td>
          </tr>
          </thead>
            <h6 *ngIf="progetto.progettisti.length == 0">Nessun progettista ufficiale</h6>
          <tbody *ngFor="let partecipante of progetto.progettisti">
          <tr></tr>
          <td>{{partecipante.userName}}</td>
          <td>
            <button class="btn btn-outline-danger" type="submit"
                    (click)="espelliProgettista(partecipante.id, progetto.id)">Espelli
            </button>
          </td>
          <tr></tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-6">
      <div class="container">
        <h3>Lista Candidati</h3>
        <table class="table">
          <thead class="table-dark">
          <tr>
            <td>Ruolo</td>
            <td>Nome</td>
            <td>Azione</td>
          </tr>
          </thead>
          <div *ngIf="progetto.candidati.length == 0">
            <h6>Nessun candidato</h6>
          </div>
          <tbody *ngFor="let candidato of progetto.candidati">
          <tr></tr>
          <td>{{candidato.ruolo}}</td>
          <td>{{candidato.userName}}</td>
          <td>
            <button class="btn btn-outline-info" type="submit"
                    (click)="accettaCandidato(candidato.id)">Accetta
            </button>
            <button class="btn btn-outline-danger" type="submit"
                    (click)="rifiutaCandidato(candidato.id, progetto.id)">Rifiuta
            </button>
          </td>
          <tr></tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<br><br><br>

<!--Modifica delle competenze-->

<div class="container">
  <div class="row justify-content-around">
    <div class="col-md-6">
      <div class="container">
        <h3>Requisiti del Progetto</h3>
        <table class="table">
          <thead class="table-dark">
          <tr>
            <td>Nome</td>
            <td>Descrizione</td>
            <td>Azione</td>
          </tr>
          </thead>
          <tbody *ngFor="let requisito of progetto.requisiti">
          <tr></tr>
          <td>{{requisito.nome}}</td>
          <td>{{requisito.descrizione}}</td>
          <td>
            <button class="btn btn-outline-danger" type="submit"
                    (click)="rimuoviRequisito(requisito.nome)">Delete
            </button>
          </td>
          <tr></tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-6">
      <div class="container">
        <h3>Altri requisiti</h3>
        <table class="table">
          <thead class="table-dark">
          <tr>
            <td>Nome</td>
            <td>Descrizione</td>
            <td>Azione</td>
          </tr>
          </thead>
          <tbody *ngFor="let requisito of altri_requisiti">
          <tr></tr>
          <td>{{requisito.nome}}</td>
          <td>{{requisito.descrizione}}</td>
          <td>
            <button class="btn btn-outline-info" type="submit"
                    (click)="aggiungiRequisito(requisito.nome)">Aggiungi
            </button>
          </td>
          <tr></tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
