<app-jumbotron [Titolo]="'Progettisti'" [SottoTitolo]="''" [Show]="false"></app-jumbotron>

<!--Informazioni generali progettista-->

<div class="container">
  <div class="box">
    <form>
      <div class="mb-3">
        <h3>Informazioni account</h3>
      </div>
      <hr>
      <div class="mb-3">
        <label label class="form-label"> <b>Username:</b></label> {{progettista.userName}}
      </div>
      <div class="mb-3">
        <label label class="form-label"> <b>Email:</b></label> {{progettista.email}}
      </div>
      <div class="mb-3">
        <label class="form-label"> <b>Ruolo: </b></label>
        <div></div>
        {{progettista.ruolo}}
      </div>
      <div class="mb-3">
        <label class="form-label"> <b>Competenze:</b></label>
        <div *ngFor="let competenza of progettista.competenze">
          {{competenza.nome}}
        </div>
      </div>
    </form>
  </div>
</div>
<br><br><br>
<!--Enti di appartenenza-->

<div class="container">
  <div class="box">
    <form>
      <div class="mb-3">
        <div class="row justify-content-between">
          <div class="col align-self-start">
            <h3>Enti di appartenenza</h3>
          </div>
        </div>
      </div>
      <hr>
      <div class="grid">
        <div class="row justify-content">
          <div *ngFor="let ente of progettista.ente" class=col-sm-6>
            <mat-card>
              <div class="card-top">
                <mat-card-header>
                  <mat-card-title>{{ente.userName}}</mat-card-title>
                </mat-card-header>
              </div>
              <div>
                <mat-card-actions>
                  <button class="btn btn-dark" type="submit" (click)="entraEnte(ente.id)">Entra</button>
                </mat-card-actions>
              </div>
            </mat-card>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<br><br><br>

<!--Progetti in carico-->

<div class="container">
  <div class="box">
    <form>
      <div class="mb-3">
        <div class="row justify-content-between">
          <div class="col align-self-start">
            <h3>Progetti In Carico</h3>
          </div>
        </div>
      </div>
      <hr>
      <div class="grid">
        <div class="row justify-content">
          <div *ngFor="let project of progettista.progetti_in_carico" class=col-sm-6>
            <mat-card>
              <div class="card-top">
                <mat-card-header>
                  <mat-card-title>{{project.titolo}}</mat-card-title>
                </mat-card-header>
                <mat-card-subtitle>{{project.descrizione}}</mat-card-subtitle>
              </div>
              <div>
                <mat-card-actions>
                  <button class="btn btn-dark" type="submit" (click)="Entra(project.id)">Entra</button>
                </mat-card-actions>
              </div>
            </mat-card>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
